/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
}
</style>
</head>
<body>

<div class="smartphone">
  <div class="content">
    <iframe src="/w3css/tryw3css_templates_band.htm" style="width:100%;border:none;height:100%" />
  </div>
</div>

body {
  padding: 10px;
  background: #fdd7e4;
}
.ctrl{
	width:100%;
  position:relative;
}

.nortification{
	display:block;
	font-size:14px;
	width:180px;
	padding:5px 0;
	position:absolute;
  top:0;
  left:0%;
  margin-left:90px;
  box-sizing:border-box;
  border-radius:15px;
  background-color:#fff;
  color:hotpink;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}

.animateOpen{
	-webkit-animation:moveOpen 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
}
/* Safari and Chrome */
@-webkit-keyframes moveOpen 
	{
  from {-webkit-transform: translate(0,-100px);}
  10% {-webkit-transform: translate(0,20px);}
  12% {-webkit-transform: translate(0,22px);}
  16% {-webkit-transform: translate(0,20px);}
  80% {-webkit-transform: translate(0,20px);}
  85% {-webkit-transform: translate(0,25px);}
  to {-webkit-transform: translate(0,-100px);}
}

p{
	font-family: Arial;
	font-size: 14px;
}	}

p.tahoma
	{
		font-family: congenial;
		padding: 15px;
	}

h1
	{
		font-family: 'Press Start 2P', cursive;
		color:#872657;
	}
h2
{
	color: black;
	text-align: center;
}
h3{
	font-family: arial ;
}
h5{
	font-size: 23px;
}
h6{
	font-family: monospace;
	font-size: 30px;
	text-align: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 45%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 2px solid powderblue;
  text-align: left;
  padding: 4px;
}

tr: {
background-color: lightpink;
}


li
	{
		float: left;
		font-family: Carvolini;
		font-size: 20px;
	}

li a
	{
		display: block;
		text-align: center;
		padding: 15px 19px;
		text-decoration: none;
		color:white;
	}

li a:hover
	{
		background-color: #c12267;
		color:#0f1833;
	}

	/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #fdd7e4;
}
.header h1 {
  font-size: 70px;
}

img{
	border-radius: 4%;
}


img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
div.container {
  text-align: center;
}

ul.myUL 
{
  display: inline-block;
  text-align: left;
}

/* Education Section */
#academic{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#academic h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 100px;
}
.box{
    height: 200px;
    width: 400px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.box h2{
    color: #726e6d;
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.box p{
    color: black;
    font-size: 1.1rem;
}

div.kotak1
	{
		float:left;
		width: 50%;
		height: 280px;
		border-radius: 30px;
		background-color: pink;
	}

div.kotak2
	{
		float:right;
		width:50%;
		height: 280px;
		border-radius: 30px;
		background-color: #ffcccb;
	}

div.kotakbesar
	{
		float:left;
		width: 100%;
		height:500px;
		background-color: #fdd7e4;
	}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
	border-radius: 7%;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
